<div class="in-progress-container">
  <svg viewBox="0 0 10 12" class="the-hangman">
    <path
      d="M1,11 h8"
      [style.display]="numberOfFailedGuesses >= 1 ? '' : 'none'"
    />
    <path
      d="M9,11 v-10"
      [style.display]="numberOfFailedGuesses >= 2 ? '' : 'none'"
    />
    <path
      d="M9,1 h-4"
      [style.display]="numberOfFailedGuesses >= 3 ? '' : 'none'"
    />
    <path
      d="M5,1 v2"
      [style.display]="numberOfFailedGuesses >= 4 ? '' : 'none'"
    />
    <circle
      cx="5"
      cy="4"
      r="1"
      [style.display]="numberOfFailedGuesses >= 5 ? '' : 'none'"
    />
    <path
      d="M5,5 v3"
      [style.display]="numberOfFailedGuesses >= 6 ? '' : 'none'"
    />
    <path
      d="M5,5 l-2,2"
      [style.display]="numberOfFailedGuesses >= 7 ? '' : 'none'"
    />
    <path
      d="M5,5 l2,2"
      [style.display]="numberOfFailedGuesses >= 8 ? '' : 'none'"
    />
    <path
      d="M5,8 l-2,2"
      [style.display]="numberOfFailedGuesses >= 9 ? '' : 'none'"
    />
    <path
      d="M5,8 l2,2"
      [style.display]="numberOfFailedGuesses === 10 ? '' : 'none'"
    />
  </svg>
  <div class="game-container">
    <h1>The Hangman</h1>
    <span
      *ngIf="!gameInProgress && lettersGuessed === lettersToGuess.length"
      class="win info"
      >You've won</span
    >
    <span
      *ngIf="
        !gameInProgress &&
        (numberOfFailedGuesses === INCORRECT_LETTER_LIMIT || showWord)
      "
      class="lose info"
      >You've lost</span
    >

    <span *ngIf="gameInProgress && !chosenLetters.length" class="info"
      >It's a {{ lettersToGuess.length }} letter word</span
    >
    <span *ngIf="!gameInProgress && showWord" class="info">
      The word you've been looking for is:
    </span>
    <div class="word">
      <span *ngFor="let letter of lettersGuessedInWord">{{
        letter | uppercase
      }}</span>
    </div>
    <div class="alphabet">
      <span class="info">Play with a word</span>
      <div class="letters">
        <button
          *ngFor="let letter of alphabet"
          (click)="chooseLetter(letter)"
          [disabled]="isLetterDisabled(letter)"
        >
          {{ letter | uppercase }}
        </button>
      </div>
    </div>
    <div class="actions">
      <button (click)="endGame()" [disabled]="!gameInProgress">End game</button>
      <button (click)="newGame()">Start new game</button>
    </div>
  </div>
</div>
