@use 'buttons' as *;
@use "breakpoints" as *;

:host {
  display: block;
}

.in-progress-container {
  display: flex;
  flex-direction: column;

  @include from-tablet {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .the-hangman {
    max-height: 15vh;

    @include from-tablet {
      max-height: 300px;
    }
  }

  .game-container {
    @include from-tablet {
      width: 50%;
    }
  }

  .win {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
  }

  .lose {
    font-size: 1.5rem;
    font-weight: bold;
    color: tomato;
  }

  .word {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @include from-tablet {
      justify-content: flex-start;
    }

    span {
      display: inline-block;
      padding: 5px;
      min-width: 50px;
      min-height: 50px;
      margin-right: 5px;
      margin-bottom: 5px;
      border: 1px solid black;
      font-size: 2rem;
      text-align: center;
    }
  }

  .alphabet .letters {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    button {
      @include alphabet-button;
    }
  }

  span.info {
    display: block;
    margin-bottom: 10px;
  }

  .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    @include from-tablet() {
      justify-content: flex-start;
      flex-wrap: no-wrap;
    }

    button {
      @include action-button();

      &:first-child {
        @include action-button(white, black);
        margin-bottom: 10px;

        @include from-tablet() {
          margin: 0 1rem 0 0;
        }
      }
    }
  }
}
