<div>
  <ng-container [ngSwitch]="gamePhase">
    <app-select-word-count
      *ngSwitchCase="GamePhase.START"
      [wordLengths]="wordLengths"
      (start)="onStartGame($event)"
    ></app-select-word-count>
    <app-in-progress
      *ngSwitchCase="GamePhase.IN_PROGRESS"
      [wordToGuess]="wordToGuess"
      (startNewGame)="onStartNewGame()"
    ></app-in-progress>
  </ng-container>
</div>
