<h1>The Hangman</h1>
<p>
  Let's play <strong>Hangman!</strong>
  <br />
  How many letters do you want in your word?
</p>
<div class="word-count-selector">
  <button
    *ngFor="let length of wordLengths"
    (click)="selectWordCount(length)"
    [class.selected]="!randomSelected && selectedWordCount === length"
  >
    {{ length }}
  </button>
  <button (click)="selectRandomWordCount()" [class.selected]="randomSelected">
    Random
  </button>
</div>
<button class="start" (click)="startGame()">Let's play!</button>
