@use 'buttons' as *;
@use "breakpoints" as *;

:host {
  display: block;
  text-align: center;
}

.word-count-selector {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5rem;

  @include from-tablet {
    width: 15rem;
    margin: 5rem auto;
  }

  button {
    @include dial-button;

    &:last-child {
      width: 100%;
    }
  }
}

.start {
  @include action-button;
}
