@use 'buttons' as *;
@use "breakpoints" as *;

:host {
  display: block;
  text-align: center;

  @include from-tablet {
    padding: 0 20%;
  }
}

svg {
  max-height: 150px;
}

a {
  @include action-button;
  text-decoration: none;
  margin-top: 2rem;

  @include from-tablet {
    margin-top: 5rem;
  }
}
