<h1>The Hangman</h1>
<svg viewBox="0 0 10 12" class="the-hangman">
  <path d="M1,11 h8" />
  <path d="M9,11 v-10" />
  <path d="M9,1 h-4" />
  <path d="M5,1 v2" />
  <circle cx="5" cy="4" r="1" />
  <path d="M5,5 v3" />
  <path d="M5,5 l-2,2" />
  <path d="M5,5 l2,2" />
  <path d="M5,8 l-2,2" />
  <path d="M5,8 l2,2" />
</svg>
<h2>Game instructions</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut commodi
  cupiditate deserunt ducimus earum eos id impedit inventore labore laudantium
  minus nemo nostrum placeat quia ratione, sunt, suscipit voluptatum.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aut
  consectetur deserunt distinctio eligendi fuga iste iusto libero nulla placeat
  quam quas quidem quos, ratione sit, tempore ullam! Adipisci.
</p>

<a routerLink="/game">Got it!</a>
