$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);

@mixin from-phone {
  @media only screen and (min-width: map-get($breakpoints, phone)) {
    @content;
  }
}

@mixin from-tablet {
  @media only screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin from-desktop {
  @media only screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
