@use "breakpoints" as *;

@mixin action-button($backgroundColor: black, $textColor: white) {
  display: inline-block;
  padding: 10px;
  min-width: 150px;
  color: $textColor;
  background-color: $backgroundColor;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
  border: none;

  &:disabled {
    opacity: 0.2;
  }
}

@mixin square-button-base() {
  padding: 10px;
  color: black;
  background-color: white;
  font-weight: bold;
  border: none;

  &.selected {
    color: white;
    background-color: black;
  }
}

@mixin alphabet-button() {
  @include square-button-base;
  min-width: 45px;
  min-height: 45px;
  font-size: 1.2rem;
  margin: 3px;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);

  @include from-tablet {
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    margin: 5px;
  }

  &:disabled {
    opacity: 0.2;
  }
}

@mixin dial-button {
  @include square-button-base;
  min-width: 60px;
  min-height: 60px;
  margin: 10px;
  font-size: 2rem;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
}
